<!-- ***** Main Banner Area Start ***** -->
<app-page-heading></app-page-heading>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
      <app-contact-us></app-contact-us>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <app-subscribe></app-subscribe>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->
