<div class="container">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <a class="btn btn-success mb-3" routerLink="/admin/products/new">Create Goods</a>
  <div class="row" >
    <mat-card
        class="card"
        *ngFor="let category of products"
      >

        <img
          mat-card-image
          src="{{ category.imageUrls }}"
          alt="Photo of a Shiba Inu"
        />

        <mat-card-header>
          <mat-card-title>{{ category.name }}</mat-card-title>
          <mat-card-subtitle>{{category.price}} $</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
          <button mat-raised-button color="primary">EDIT</button>
          <button mat-raised-button color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>