<div class="container">
  <h2 class="mb-3">Categories</h2>
  <a class="btn btn-link" routerLink="/admin/category/new">Create Category</a>
  <div class="row">
    <div class="cards">
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let category of categories"
      >
        <img src="{{ category.img }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <button class="btn btn-secondary mr-2" (click)="edit(category._id)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteCategory(category._id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
