<div class="container">
  <h2 class="mb-3">Categories</h2>
  <a class="btn btn-success mb-3" routerLink="/admin/category/new"
    >Create Category</a
  >
  <div class="row">
    <div class="cards">
      <mat-card
        class="card"
        *ngFor="let category of categories"
      >
        <mat-card-header>
          <mat-card-title>{{ category.name }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ category.img }}"
          alt="Photo of a Shiba Inu"
        />

        <mat-card-actions>
          <button mat-raised-button color="primary">EDIT</button>
          <button mat-raised-button color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
