<app-page-heading></app-page-heading>

<!-- ***** About Area Starts ***** -->
<div class="about-us">
  <div class="container">
    <app-about-area></app-about-area>
  </div>
</div>
<!-- ***** About Area Ends ***** -->

<!-- ***** Our Team Area Starts ***** -->
<section class="our-team">
  <div class="container">
    <app-our-team></app-our-team>
  </div>
</section>
<!-- ***** Our Team Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
  <div class="container">
    <app-subscribe></app-subscribe>
  </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->
