<div class="row">
  <div class="col-lg-6">
    <div id="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86509.367351888!2d69.50907810011637!3d40.85500336043865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae2dbfe0817bbb%3A0x6aaefae75a3b146f!2sAlmalyk%2C%20Uzbekistan!5e1!3m2!1sen!2sth!4v1688639652598!5m2!1sen!2sth"
        width="100%"
        height="400px"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
      <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
    </div>
  </div>
  <div class="col-lg-6">
    <div class="section-heading">
      <h2>Say Hello. Don't Be Shy!</h2>
      <span
        >Details to details is what makes Hexashop different from the other
        themes.</span
      >
    </div>
    <form
      id="contact"
      action=""
      method="post"
      [formGroup]="createForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-lg-6">
          <fieldset>
            <input
              formControlName="name"
              type="text"
              id="name"
              placeholder="Your name"
              required
            />
            <span
              class="help-block"
              *ngIf="createForm.controls['name'].errors?.['required']
          && createForm.get('name')?.touched"
            >
              Please enter a name
            </span>
            <span
              class="help-block"
              *ngIf="createForm.controls['name'].errors?.['pattern']
          && createForm.get('name')?.touched"
            >
              Please enter a correct name
            </span>
          </fieldset>
        </div>
        <div class="col-lg-6">
          <fieldset>
            <input
              formControlName="email"
              type="text"
              id="email"
              placeholder="Your email"
              required
            />
            <span
              class="help-block"
              *ngIf="createForm.controls['email'].errors?.['required']
          && createForm.get('email')?.touched"
            >
              Please enter a login email
            </span>
            <span
              class="help-block"
              *ngIf="
              createForm.get('email')?.errors?.['email']
              && createForm.get('email')?.touched
              && createForm.get('email')?.invalid"
            >
              The login email is invalid
            </span>
          </fieldset>
        </div>
        <div class="col-lg-12">
          <fieldset>
            <textarea
              formControlName="message"
              rows="6"
              id="message"
              placeholder="Your message"
              required
            ></textarea>
            <span
              class="help-block"
              *ngIf="createForm.controls['message'].errors?.['required']
        && createForm.get('message')?.touched"
            >
              Please enter a text
            </span>
          </fieldset>
        </div>
        <div class="col-lg-12">
          <button class="btn btn-dark" [disabled]="createForm.invalid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
