<div class="row">
  <div class="col-lg-8">
    <div class="col-lg-12">
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86509.367351888!2d69.50907810011637!3d40.85500336043865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae2dbfe0817bbb%3A0x6aaefae75a3b146f!2sAlmalyk%2C%20Uzbekistan!5e1!3m2!1sen!2sth!4v1688639652598!5m2!1sen!2sth"
          width="100%"
          height="400px"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
        <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-6">
        <ul>
          <li>
            Store Location:<br /><span
              >Almalyk, Tashkent, Uzbekistan</span
            >
          </li>
          <li>Phone:<br /><span>+998 93-602-95-45</span></li>
          <li>Office Location:<br /><span>Remote</span></li>
        </ul>
      </div>
      <div class="col-6">
        <ul>
          <li>Work Hours:<br /><span>07:30 AM - 9:30 PM Daily</span></li>
          <li>Email:<br /><span>info@company.com</span></li>
          <li>
            Social Media:<br /><span
              ><a href="#">Facebook</a>, <a href="#">Instagram</a>,
              <a href="#">Behance</a>, <a href="#">Linkedin</a></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
