<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
  <div class="container-fluid">
    <app-main-banner></app-main-banner>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- here must be carousel -->

<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
  <div class="container">
    <app-explore></app-explore>
  </div>
</section>
<!-- ***** Explore Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
  <div class="container">
    <app-subscribe></app-subscribe>
  </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->
