<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a routerLink="/main" class="logo">
            <img src="assets/images/logo.png" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a routerLink="/main" routerLinkActive="active">Home</a>
            </li>
            <li class="scroll-to-section"><a routerLinkActive="active" routerLink="/about">About Us</a></li>
            <li class="scroll-to-section"><a routerLinkActive="active" routerLink="/products">Products</a></li>
            <li class="scroll-to-section"><a routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
            <li class="submenu">
              <a href="javascript:;">Categories</a>
              <ul>
                <li><a (click)="onDiscoverMore('men')" >Men's</a></li>
                <li><a (click)="onDiscoverMore('women')">Women's</a></li>
                <li><a (click)="onDiscoverMore('kids')">Kid's</a></li>
              </ul>
            </li>
            <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
