<div class="row">
  <div class="col-lg-12">
      <div class="section-heading">
          <h2>Our Amazing Team</h2>
          <span>Details to details is what makes Hexashop different from the other themes.</span>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="team-item">
          <div class="thumb">
              <div class="hover-effect">
                  <div class="inner-content">
                      <ul>
                          <li><a href="https://t.me/Boburjontoy"><i class="fa fa-telegram"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/bobur-abdullayev-1ba214240/"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>
              <img src="assets/images/bobur.jpg">
          </div>
          <div class="down-content">
              <h4>Bobur Abdullayev</h4>
              <span>Software Engineer (Nodejs)</span>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="team-item">
          <div class="thumb">
              <div class="hover-effect">
                  <div class="inner-content">
                      <ul>
                          <li><a href="https://www.facebook.com/baxromkhuja.aglamkhujaev"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://t.me/Aglamkhujaev"><i class="fa fa-telegram"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/baxromxoja16"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>
              <img src="assets/images/baxrom.jpg">
          </div>
          <div class="down-content">
              <h4>Baxromxo'ja Ag'lamxo'jayev</h4>
              <span>Software Engineer (Angular)</span>
          </div>
      </div>
  </div>
</div>
