<form [formGroup]="createForm">
  <div class="mb-3">
    <h3>Authentication</h3>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Phone number</label>
    <input formControlName="phone" type="text" class="form-control" id="exampleInputPhone">
    <span class="help-block"  *ngIf="createForm.controls['phone'].errors?.['pattern']
    && createForm.get('phone')?.touched" >Wrong number</span>
    <span class="help-block"  *ngIf="createForm.controls['phone'].errors?.['required']
    && createForm.get('phone')?.touched" >Number is required</span>

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    <span class="help-block"  *ngIf="createForm.controls['password'].errors?.['required']
    && createForm.controls['password'].touched" >Password is required</span>
    <span class="help-block"  *ngIf="createForm.controls['password'].errors?.['pattern']
    && createForm.controls['password'].touched" >Wrong password <span>(uppercase, lowercase, number and special characters)</span></span>
  </div>
  <div class="mb-3 form-check">
    <input formControlName="check" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    <span class="help-block d-block" *ngIf="createForm.controls['check'].errors?.['required']
    && createForm.get('check')?.touched" >Check please</span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="(createForm.status === 'INVALID')" (click)="onSubmit('login')">Login</button>
  <button type="submit" class="btn btn-primary ml-2" [disabled]="(createForm.status === 'INVALID')" (click)="onSubmit('register')">Register</button>
</form>
