.main-border-button a {
  color: #fff;
  &:hover {
    color: black;
  }
}
/* Style the scrollbar background */
::-webkit-scrollbar {
  background: #ccc;
  width: 4px;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #444;
  width: 4px;
}

